h1 {
    font-weight: 700;
    font-size: 1.75em;
}

h2 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.5em;
}
p {
    margin-bottom: 10px;
    font-size: 1.3em;
    line-height: 1.2;
}